In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../dataset/data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598000 entries, 0 to 597999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    598000 non-null  object
 1   label   598000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 9.1+ MB

In [49]:
p_df = pd.read_csv("../dataset/processed_data.csv")

In [50]:
p_df.shape

(598000, 2)

In [51]:
p_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598000 entries, 0 to 597999
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   text       597948 non-null  object
 1   sentiment  598000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 9.1+ MB

In [52]:
p_df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 597948 entries, 0 to 597999
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   text       597948 non-null  object
 1   sentiment  597948 non-null  int64
dtypes: int64(1), object(1)
memory usage: 13.7+ MB

In [53]:
p_df.isnull().sum()

text         52
sentiment     0
dtype: int64

In [54]:
df[p_df['text'].isna()]

                                                     text  label
8826                                                    A      0
9483           http://www.youtube.com/watch?v=OfMy1uMjkdw      1
13939                                                   1      0
27292                                                 :-(      0
32504                              ----------------------      1
34763                                                 ...      1
38147                 ...................................      0
44695                    http://parismusings.blogspot.com      1
47114   http://www.courthousenews.com/2013/07/03/59061...      0
54760                                               (*-*)      1
57810                                        Not the same      0
64321                                               .....      0
72200                                                 ***      1
85861                                      no no no no no      0
90387                                                 No.      0
95034                                         Not with it      0
96570                                    it is what it is      0
114571                                               ....      0
129253                                        Just don't.      0
131812                               Here I am once again      1
146331                                             Don't!      0
186955                                                $$$      0
206302                                                : /      0
212341                                              Don't      0
215843                                                  .      0
218276                                                  0      0
218540  http://www.journaldemontreal.com/2014/07/28/fr...      0
227219                                   no......just no!      0
227226                                                 No      0
237252                                         just do it      1
237345                                                The      0
242159                                                Not      0
242745                                                no.      0
246381                                                 :/      0
250116                                                : (      0
260375                                                 :(      0
298154                                                 :)      0
304138                                                  T      0
354601                                               2:57      0
357608                                                 D-      0
369779                                       ------------      1
372592                                          .........      0
376639                                            $$$$$$$      1
415736                                                \""      0
430768                                                  _      0
430866                                                  ?      0
481182                                             So so.      0
491568                                                  Y      0
497562  http://www.azfamily.com/news/consumer/Phoenix-...      0
550705                                        Just so so!      0
574236                https://www.facebook.com/TuyetRoyal      1
582005                                                THE      0